<section id="banner">
  <div class="inner">
  <!--	<div class="logo"><img src="images/logo.png" alt="logo"></div>  -->
      <!-- <div class="logo"><span class="icon fa-gem"></span></div> -->
      <h2>Cześć, nazywam się PONTY</h2>
      <p> Budujemy rowery dla Ciebie. </p>
  </div>
</section>


<section id="wrapper">

<!-- One -->
							<section id="one" class="wrapper spotlight style1">
							<!--	<div class="triangle"></div> -->
								<div class="inner">
									<a href="#" class="image"><img src="images/o_nas.png" alt="" /></a>
									<div class="content">
										<h2 class="major">O nas</h2>
										<p>Zespół PontyBike tworzy grupa przyjaciół, która od kilku lat wyznaczyła sobie za cel zaprojektowanie i zbudowanie elektrycznego roweru do najcięższych zastosowań. Pierwsze szkice powstały 4 lata temu, pierwszy prototyp ujrzał światło dzienne końcem 2017 roku. Od tego czasu ciężko pracowaliśmy nad udoskonaleniem naszego projektu. Efektem naszych prac są rowery z serii PontyBike Performance, które oficjalnie trafiły do sprzedaży i jako pierwsze tego typu w Polsce przeszły pomyślnie certyfikację CE.</p>
										<a href="#" class="special">Więcej</a>
									</div>
								</div>
							</section>

              <!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="models.html" class="image"><img src="images/modele.png" alt="" /></a>
									<div class="content">
										<h2 class="major">Modele</h2>
										<p>Każdy egzemplarz tworzymy indywidualnie z dbałością o najmniejszy szczegół. Stawiamy na najwyższa jakość i nowoczesne rozwiązania, ponieważ nie uznajemy półśrodków. Nie chcemy, żeby PontyBike kojarzył się z masową produkcją - możesz być pewny, że Twój egzemplarz zostal przez nas dokładnie sprawdzony i znamy każdą jego śrubkę.</p>
										<a href="models.html" class="special">Więcej</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="services.html" class="image"><img src="images/uslugi.png" alt="" /></a>
									<div class="content">
										<h2 class="major">Usługi</h2>
										<p>PontyBike, to nie tylko rowery elektryczne. Dzięki sporemu parku maszynowemu oraz doświadczeniu oferujemy również szereg usług. Zainteresowanych zapraszamy do zapoznania się z nasza ofertą</p>
										<a href="services.html" class="special">Więcej</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Galeria</h2>
									<div class="box alt">
										<div class="row gtr-uniform">
											<div class="col-4"><a href="galery.html" class="image fit"><img src="images/g_12.jpg" alt="" /></a></div>
											<div class="col-4"><a href="galery.html" class="image fit"><img src="images/g_7.jpg" alt="" /></a></div>
											<div class="col-4"><a href="galery.html" class="image fit"><img src="images/g_8.jpg" alt="" /></a></div>
											<div class="col-4"><a href="galery.html" class="image fit"><img src="images/g_9.jpg" alt="" /></a></div>
											<div class="col-4"><a href="galery.html" class="image fit"><img src="images/g_10.jpg" alt="" /></a></div>
											<div class="col-4"><a href="galery.html" class="image fit"><img src="images/g_11.jpg" alt="" /></a></div>		
										</div>
									</div>
									<ul class="actions">
										<li><a href="galery.html" class="button">Zobacz wszystkie</a></li>
									</ul>
								</div>
							</section>


</section>



<h1> welcome </h1>

<%= link_to "Logout", destroy_user_session_path, :method => :delete %>


<%= current_user.email %>

